<?xml version="1.0" encoding="UTF-8" ?>
    <widget id="br.com.pushideas.weddingguestlist" 
            version="1.0.0" 
            xmlns="http://www.w3.org/ns/widgets" 
            xmlns:cdv="http://cordova.apache.org/ns/1.0">
 
    <name>Wedding GuestList</name>

    <icon src="icon.png" />

    <description>
        Aplicativo de controle de convidados para casamento 
    </description>

    <author href="www.pushideas.com.br" email="contato@pushideas.com.br">
        Push Ideas
    </author>

    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    
    <feature name="http://api.phonegap.com/1.0/notification"/>

    <access origin="*" />

</widget>